<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".benchmark.FlightBenchmarkReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.handy.android.debug.FLIGHT_BENCHMARK_POINT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
